/* Fondo del body */
body {
    margin: 0;
    background-color: #edf1f8; /* Fondo claro */
}

/* Estilos del contenedor del formulario */
.card-body {
    padding: 30px;
}

h2 {
    color: #199bad;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #199bad;
    border: none;
}

.btn-primary:hover {
    background-color: #117a8b;
}

/* Ajustar la imagen */
img.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
