/* Fondo del body */

body {
    margin: 0;
    background-color: #edf1f8; /* Ajusta según el diseño deseado */
}

/* Contenedor de login */
.container {
    max-width: 900px;
    height: auto;
    
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se salga */
}



.row {
    min-height: 60vh; /* Ajusta la altura del contenedor */
}

.card-title {
    color: #199bad;
}

.btn-primary {
    background-color: #199bad;
    border: none;
}

.btn-primary:hover {
    background-color: #117a8b;
}

/* Estilos generales para los campos de entrada */
.form-floating .form-control {
    border: 2px solid #bfbbbb;
    color: #000;
    background-color: transparent;
}

.form-floating .form-control:focus ~ label,
.form-floating .form-control:not(:placeholder-shown) ~ label,
.form-floating .form-control:active ~ label {
    color: #199bad;
    background-color: transparent;
    border-radius: 4px;
    padding: 0 8px;
    transform: scale(0.85) translateY(-3px) translateX(0.1rem);
}

.form-floating label {
    transition: all 0.2s ease-in-out;
    padding-left: 8px;
    padding-right: 10px;
    color: #000;
}

.form-floating .form-control:focus,
.form-floating .form-control:active {
    border-color: #199bad;
    box-shadow: 0 0 0 0.25rem rgba(25, 155, 173, 0.25);
}
/* Fondo del body */
body {
    margin: 0;
    background-color: #f0f2f5; /* Ajusta según el diseño deseado */
}

/* Contenedor de login */
.container {
    max-width: 900px;
    height: auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra en el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no se salga */
}


.row {
    min-height: 60vh; /* Ajusta la altura del contenedor */
}

.card-title {
    color: #199bad;
}

.btn-primary {
    background-color: #199bad;
    border: none;
}

.btn-primary:hover {
    background-color: #117a8b;
}

/* Estilos generales para los campos de entrada */
.form-floating .form-control {
    border: 2px solid #bfbbbb;
    color: #000;
    background-color: transparent;
}

.form-floating .form-control:focus ~ label,
.form-floating .form-control:not(:placeholder-shown) ~ label,
.form-floating .form-control:active ~ label {
    color: #199bad;
    background-color: transparent;
    border-radius: 4px;
    padding: 0 8px;
    transform: scale(0.85) translateY(-3px) translateX(0.1rem);
}

.form-floating label {
    transition: all 0.2s ease-in-out;
    padding-left: 8px;
    padding-right: 10px;
    color: #000;
}

.form-floating .form-control:focus,
.form-floating .form-control:active {
    border-color: #199bad;
    box-shadow: 0 0 0 0.25rem rgba(25, 155, 173, 0.25);
}
